
<div id="tell">
  <h3><%= link_to "Tell Us How Was Your Day..",new_routine_path %><br></h3>
</div>
<% @routines.each do |routine| %>
  <div class="routine row clearfix">
    <h4>
      <a><%= link_to routine.title, routine %></a><br>
      <small class="author">Submitted <%= time_ago_in_words(routine.created_at) %> by <%= routine.user.email %></small>
    </h4>
    <div class="btn-group">
      <%= link_to like_routine_path(routine), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Like
        <%= routine.get_upvotes.size %>
      <% end %>
      <%= link_to unlike_routine_path(routine), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
        Unlike
        <%= routine.get_downvotes.size %>
      <% end %>

    </div>
  </div>
<% end %>
